<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hodlinfo</title>
    <style>
        h1  {
            color: rgb(70, 70, 183);
            font-family: Arial, Helvetica, sans-serif;
            }
            h2{
            color: rgb(70, 70, 183);
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            }
            #belt{
              font-family: Arial, Helvetica, sans-serif;
              text-align: center;

            }
            body {
                background-color: rgb(18, 22, 23);
                font-family: Arial, Helvetica, sans-serif;

              }
              #header {
                background-color: lightblue;
                color: black;
                padding: 20px;
                font-family: Arial, Helvetica, sans-serif;               
              }
              table {
                border-collapse: collapse;
                width: 100%;
                font-family: Arial, Helvetica, sans-serif;

              }
              th, td {
                text-align: center;
                padding: 8px;
                font-family: Arial, Helvetica, sans-serif;

              }
            tr:nth-child(even){
                background-color: #7f8181;
                font-family: Arial, Helvetica, sans-serif;

              }
            tr:nth-child(odd){
                background-color: #7f8181;
                font-family: Arial, Helvetica, sans-serif;

              }
                           
    </style>
</head>
<body>
    <h1>HODLINFO</h1>
    <h2>Best Price to Trade</h2>
    <form id= "belt" action="https://wazirx.com/invite/sp7pvbt6?utm_source=finstreet&utm_medium=affiliate&utm_campaign=regnow-btn">
        <select>
          <option>INR</option>
        </select>
        <select>
            <option>BTC</option>
            <option>ETH</option>
            <option>USDT</option>
            <option>XRP</option>
            <option>TRX</option>
            <option>DASH</option>
            <option>ZEC</option>
            <option>XEM</option>
            <option>IOST</option>
            <option>WIN</option>
            <option>BTT</option>
            <option>WRX</option>
          </select>
        <input type="submit" value="BUY BTC" method ="GET">
    </form>
    <div>
        <table>

              <tr>
                <th>0.72%</th>
                <th>0.6%</th>
                <th>$26,10,021</th>
                <th>5.26%</th>
                <th>14.19%</th>
              </tr>
              <tr>
                <td>5 Mins</td>
                <td>1 Hours</td>
                <td>Average BTC/INR net price including commission</td>
                <td>1 Day</td>
                <td>7 Days</td>
              </tr>
        </table>
    
    </div>
    <a href='https://hodlinfo.com/connect/telegram'>
        <button id="header">
            Connect Telegram 
        </button>
    </a>     
    <div>
<table style="overflow-x: auto;">
    <tr>
      <th>#</th>
      <th>Platform</th>
      <th>Last Traded Price</th>
      <th>Buy/Sell Price</th>
      <th>Difference</th>
      <th>Savings</th>
    </tr>
    <tr>
      <td>1</td>
      <td>WazirX</td>
      <td>$25,72,612</td>
      <td>$25,72,610/$25,72,612</td>
      <td>-3.14%</td>
      <td>$83,498</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Bitbus</td>
        <td>$28,83,906</td>
        <td>$28,83,906/$28,82,157</td>
        <td>8.58%</td>
        <td>$2,27,796</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Colodux</td>
        <td>$28,83,906</td>
        <td>$28,83,906/$28,82,157</td>
        <td>8.58%</td>
        <td>$2,27,796</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Zobpay</td>
        <td>$28,83,906</td>
        <td>$28,83,906/$28,82,157</td>
        <td>8.58%</td>
        <td>$2,27,796</td>
    </tr>
  </table>
</div>
</body>
</html>